@charset "utf-8";
/* CSS Document */

body, html{
	background-color: #ffffff;
	margin:0px 0px 0px 0px;
}

#wrapper{
	position:relative;
	width:980px;
	height:596px;
	margin: auto;
}

.contenidosPages{
	position:absolute;
	margin: 0px 0px 0px 0px;
	width: 980px;
	height: 596px;
}
	
#contenidosPop{
	z-index:-10;
	position:absolute;
	margin: 0px 0px 0px 0px;
	width: 980px;
	height: 596px;
}
			
iframe#page {
	border:0px solid #ccc;
	width: 980px;
	height: 596px;
}
	
iframe#pop {
	border:0px solid #ccc;
	width: 980px;
	height: 596px;
}

#banner{
	z-index:3;
	background-image:url(../images/imagenes_plantilla/banner.png);
	background-repeat:no-repeat;
	position:absolute;
	width:980px;
	height:61px;
}

#imgSig{
	position:absolute;
	right:0px;
	background-image:url(../images/imagenes_plantilla/next.png);
	background-repeat:no-repeat;
	cursor: pointer; cursor: hand;
	float:right;	
	width:50px;
	height:50px;
}
			
#imgPrev{
	position:absolute;
	float:left;
	background-image:url(../images/imagenes_plantilla/prev.png);
	background-repeat:no-repeat;
	cursor: pointer; cursor: hand;
	width:50px;
	height:50px;
	margin-left:750px;
}

#imgMenu{
	background-image:url(../images/imagenes_plantilla/footer.png)	;
	background-repeat:no-repeat;
	width:980px;
	height:50px;
	z-index:3;
	position:absolute;
	bottom:0px;
}

#imgAyuda{
	float:left;
	background-image:url(../images/imagenes_plantilla/btn_ayuda.png);
	background-repeat:no-repeat;
	cursor: pointer; cursor: hand;
	width:40px;
	height:40px;
	margin-left:10px;
	margin-top:5px;
}

#imgGlosario{
	float:left;
	background-image:url(../images/imagenes_plantilla/btn_glosario.png);
	background-repeat:no-repeat;
	cursor: pointer; cursor: hand;
	width:40px;
	height:40px;
	margin-top:5px;
	margin-left:5px;
}

#imgHome{
	position:relative;
	background-image:url(../images/imagenes_plantilla/menu.png);
	background-repeat:no-repeat;
	cursor: pointer; cursor: hand;
	float:left;
	width:50px;
	height:50px;
}

#imgFlecha{
	z-index:3;
	position:absolute;
	background-image:url(../images/imagenes_plantilla/flecha.png);
	width:45px;
	height:56px;
	right:5px;
	margin-top:490px;
}
		
#imgSig:hover{
	background-image:url(../images/imagenes_plantilla/nextOver.png);
}
					
#imgPrev:hover{
	background-image:url(../images/imagenes_plantilla/prevOver.png);
}

#imgHome:hover{
	background-image:url(../images/imagenes_plantilla/menuOver.png);
}
