{#include  file="base/header-404.html"#}
<!--Slider PPAl-->

<section class="container-fluid content-404 mask-arrow">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><img src="/images/404.svg" alt="404" title="404" class="img-responsive"></div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <h1>
        Buscar el primer empleo no es fácil,
        debes seguir intentándolo.
        Vuelve después que aquí
        <strong class="purpura-text">te asesoraremos.</strong>
        
        
      </h1><a href="/" role="button" class="btn btn-404 purpura">Ir al home</a>
    </div>
  </div>
</section>
<section class="container-fluid orientate mask-after">
  <!--vacantes-->
  <article class="row">
    <div class="col-lg-12">
      <h2 class="text-center verde">
        <i class="icon icon-orientate"></i> Comienza tu ruta al éxito laboral
        
      </h2>
    </div>
    <div class="col-lg-12 tab-content">
      <div id="hojas-de-vida" role="tabpanel" class="tab-pane active">
        <div class="header azul-claro"><img src="/images/icon-hoja-vida.png" alt="Hoja de vida" title="Hoja de vida" class="img-responsive">
          <h3>Tu pasaporte</h3>
        </div>
        <p>Objetivo: Elaborar la hoja de vida más efectiva al momento de postular.</p>
        <p class="text-right"><a href="#" class="btn btn-tab btn-azul-claro">Empieza tu ruta</a></p>
      </div>
    </div>
  </article>
  <!--/-vacantes-->

{#include  file="base/footer.html"#}