  <!--Footer-->
  <footer class="container-fluid">
    <div class="peel hidden-xs"></div>
    
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-10 col-xs-12 col-lg-offset-2 col-md-offset-2 col-sm-offset-1">
        <p class="text-center">
          <a href="https://www.consumidor.nestle.com.co/politicas-privacidad" target="_blank">Políticas de privacidad </a>  |  <a href="http://corporativa.nestle.com.co/" target="_blank"> Ver información corporativa</a>   |  <a href="https://www.consumidor.nestle.com.co/politicas-datos" target="_blank"> Política de tratamiento de datos personales</a>
          
        </p>
        <p class="text-center">
          Nestlé&reg; Colombia 2016 - Todos los derechos reservados
          
          
        </p>
      </div>
    </div>
  </footer>
  <!--/-Footer-->
  <!--Scripts-->
  <script src="/js/libs/jquery.js?231231"></script>
  <script src="/js/libs/bootstrap.min.js?231231"></script>
  <script src="/js/jquery.cookie.js?231231"></script>
  <script src="/js/youth.ini.js?1232125"></script>
  <script src="/js/libs/jquery.validate.js?231231"></script>
   <script src="/js/libs/additional-methods.js?231231"></script>
  <script src="/js/libs/jquery.bxslider.min.js?231231"></script>
  <script src="/js/youth/youthfunciones.js?132123"></script>
  <script src="/js/youth/registro/registroFb.js?2123"></script>
  <script src='https://www.google.com/recaptcha/api.js'></script>
  {#include  file="base/youthJs.html"#}
  <div class="cargajs"></div>
  <!--BX Slider-->
  <script>
    
    if ( $(window).width() <= 780 ){
    
    	$('.slider-destacado').bxSlider({
    		minSlides: 1,
    		slideWidth: 338,
    		slideMargin: 10,
    		moveSlides: 1,
    		pager:false,
    		mode: 'vertical',
    		nextText: '',
    	    prevText: ''
    	});
    
    	}else{
    	$('.slider-destacado').bxSlider({
    	  minSlides: 3,
    	  maxSlides: 3,
    	  slideWidth: 338,
    	  slideMargin: 10,
    	  moveSlides: 1,
    	  pager:false,
    	  nextText: '',
    	  prevText: ''
    	});
    	};
  </script>
</body></html>