
  <!--/-header-->
  <!--Slider PPAl-->
  <section class="container-fluid u-no-border slider-ppal">
    <div id="carrusel-ppal" data-ride="carousel" class="carousel slide">
      <!--wrapper -->
      <div role="listbox" class="carousel-inner">
        <!--item-->
        <div class="item active">
          <div class="carousel-caption">
            <h3>Prepara tu hoja de vida</h3>
            <p>
              Conoce la manera de crearla para que genere una imagen positiva de ti y de tu experiencia ante cualquier persona o empresa. Recuerda que tu hoja de vida es clave para tu futuro laboral y personal.
              
            </p>
            <div class="button-container amarillo"><a href="#" role="button" class="btn btn-slider azul-oscuro">Empieza Ya</a><a href="#">Conoce más cursos</a></div>
          </div>
        </div>
        <!--item-->
        <div class="item">
          <div class="carousel-caption">
            <h3>Prepara tu hoja de vida</h3>
            <p>
              Conoce la manera de crearla para que genere una imagen positiva de ti y de tu experiencia ante cualquier persona o empresa. Recuerda que tu hoja de vida es clave para tu futuro laboral y personal.
              
            </p>
            <div class="button-container amarillo"><a href="#" role="button" class="btn btn-slider azul-oscuro"> Empieza Ya</a><a href="#">1 Conoce más cursos </a></div>
          </div>
        </div>
        <!--item-->
        <div class="item">
          <div class="carousel-caption">
            <h3>Prepara tu hoja de vida</h3>
            <p>
              Conoce la manera de crearla para que genere una imagen positiva de ti y de tu experiencia ante cualquier persona o empresa. Recuerda que tu hoja de vida es clave para tu futuro laboral y personal.
              
            </p>
            <div class="button-container amarillo"><a href="#" role="button" class="btn btn-slider azul-oscuro"> Empieza Ya</a><a href="#">Conoce más cursos</a></div>
          </div>
        </div>
      </div>
      <!--Controls--><a href="#carrusel-ppal" role="button" data-slide="prev" class="left carousel-control"><span aria-hidden="true" class="icon icon-circle-left"></span><span class="sr-only">Prev</span></a><a href="#carrusel-ppal" role="button" data-slide="next" class="right carousel-control"><span aria-hidden="true" class="icon icon-circle-right"></span><span class="sr-only">Next</span></a>
    </div>
  </section>
  <!--/-Slider PPAl-->
  <section class="container-fluid">
    <!--slider destacados-->
    <article class="row">
      <div class="col-lg-12">
        <div class="slider-destacado">
          <div class="slide">
            <figure><a href="#"><img src="images/banner-destacado.jpg" alt="Destacado" title="Destacado" class="img-responsive"></a></figure>
            <div class="caption azul-oscuro">
              <h4 class="fecha">Dic. 11 de 2015</h4>
              <p class="intro"><a href="#">Informe mensual de resultados y cumplimiento.</a></p>
            </div>
          </div>
          <div class="slide">
            <figure><a href="#"><img src="images/banner-destacado.jpg" alt="Destacado" title="Destacado" class="img-responsive"></a></figure>
            <div class="caption purpura">
              <h4 class="fecha">Dic. 11 de 2015</h4>
              <p class="intro"><a href="#">Vigencia de nuestros acuerdos y cobertura.</a></p>
            </div>
          </div>
          <div class="slide">
            <figure><a href="#"><img src="images/banner-destacado.jpg" alt="Destacado" title="Destacado" class="img-responsive"></a></figure>
            <div class="caption verde">
              <h4 class="fecha">Dic. 11 de 2015</h4>
              <p class="intro"><a href="#">Ámbitos de interacción y apredizaje en Colombia.</a></p>
            </div>
          </div>
          <div class="slide">
            <figure><a href="#"><img src="images/banner-destacado.jpg" alt="Destacado" title="Destacado" class="img-responsive"></a></figure>
            <div class="caption azul-oscuro">
              <h4 class="fecha">Dic. 11 de 2015</h4>
              <p class="intro"><a href="#">Informe mensual de resultados y cumplimiento.</a></p>
            </div>
          </div>
          <div class="slide">
            <figure><a href="#"><img src="images/banner-destacado.jpg" alt="Destacado" title="Destacado" class="img-responsive"></a></figure>
            <div class="caption purpura">
              <h4 class="fecha">Dic. 11 de 2015</h4>
              <p class="intro"><a href="#">Vigencia de nuestros acuerdos y cobertura.</a></p>
            </div>
          </div>
          <div class="slide">
            <figure><a href="#"><img src="images/banner-destacado.jpg" alt="Destacado" title="Destacado" class="img-responsive"></a></figure>
            <div class="caption verde">
              <h4 class="fecha">Dic. 11 de 2015</h4>
              <p class="intro"><a href="#">Ámbitos de interacción y apredizaje en Colombia.</a></p>
            </div>
          </div>
        </div>
      </div>
    </article>
    <!--/-slider destacados-->
    <!--datos youth-->
    <article class="row objetivos">
      <h2 class="text-center">Nuestro compromiso en Colombia 2015 - 2018</h2>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <h3 class="naranja-text">500</h3>
        <p>oportunidades de empleo</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <h3 class="magenta-text">2.100</h3>
        <p>capacitaciones a jóvenes</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <h3 class="verde-text">97.000</h3>
        <p>orientaciones vocacionales</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <h3 class="purpura-text">500</h3>
        <p>nuevas plazas para estudiantes</p>
      </div>
    </article>
    <!--/-datos youth-->
  </section>
  <!--video contenedor-->
  <section class="container-fluid video-iniciativa mask-arrow">
    <h2 class="text-center">¿En qué consiste esta iniciativa?</h2>
    <article class="row">
      <div class="col-lg-12">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe src="https://www.youtube.com/embed/Ms-cvKwkgu8" frameborder="0" class="embed-responsive-item"></iframe>
        </div>
        <p>
          Es un compromiso que hace NESTLÉ® con Colombia orientado a contribuir en la preparación y capacitación de las nuevas generaciones, con el fin de integrarlas eficazmente en el mercado laboral. 
          
        </p>
      </div>
    </article>
  </section>
  <!--/-video contenedor-->
  <section class="container-fluid home-learning mask-after">
    <!--Seccion E-learning-->
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12 col-md-offset-3 col-sm-offset-2 e-learning-home">
        <h2 class="text-center amarillo">
          <i class="icon icon-elearning"></i> Cursos e-learning
          
        </h2>
        <div class="box">
          <h3>Entrevistas de trabajo exitosas</h3>
          <p>
            Descubre cómo desenvolverte de manera óptima cuando te presentes ante una nueva oportunidad y cómo dejar una impresión memorable y positiva en cada una de las entrevistas de las que hagas parte.
            
          </p><a href="#" role="button" class="btn btn-learn azul-oscuro">Empieza ya</a>
          <p class="text-center"><a href="#">Conoce más cursos</a></p>
        </div>
      </div>
    </div>
    <!--/-Seccion E-learning-->
    <!--Capsulas-->
  </section>
  <section class="container-fluid u-no-border home-capsulas">
    <div class="row">
      <h2 class="text-center">Cápsulas</h2>
      <div class="col-lg-6 col-md-6 col-sm-10 col-xs-12 col-lg-offset-3 col-md-offset-3 col-sm-offset-1">
        <article class="capsula">
          <figure class="img-capsula"><a href="#"><img src="images/capsula.jpg" alt="Posibilidades de desarrollo " title="Posibilidades de desarrollo " class="img-responsive"></a></figure>
          <div class="text-capsula">
            <h3><a href="#">Posibilidades de desarrollo</a></h3>
            <p class="autor">
              <i class="icon icon-category-user"></i> Iniciativa por los jóvenes NESTLÉ&reg;
              
            </p>
            <p class="body">
              “Más oportunidades de formación y empleo para los jóvenes en Colombia.”
              
              
            </p>
          </div>
        </article>
      </div>
    </div>
    <!--/-Capsulas-->
  </section>
