{#include  file="base/header.html"#}
<!--Pone la multimedia-->
{#foreach from=$multimedia item=descripcionCapsulaK key=pos#}
	{#if $pos==1 #}
	 <section class="container-fluid u-no-border slider-ppal">
	  <div id="carrusel-ppal" data-ride="carousel" class="carousel slide">
	    <!--wrapper -->
	    <div role="listbox" class="carousel-inner">
	      <!--item-->
	      	{#foreach from=$descripcionCapsulaK item=descripcionCapsula#}
	      	
	      	 	{#if $descripcionCapsula['orden']=='1'#}
	      			<div class="item active">
	      		{#else#}
	      			<div class="item">
	      		{#/if#}
	       		<div class="carousel-caption">
	       	   	{#$descripcionCapsula['descipcion']#}
	       		</div>
	     		 </div>
	     	 {#/foreach#}
	      
	    </div>
	    <!--Controls--><a href="#carrusel-ppal" role="button" data-slide="prev" class="left carousel-control"><span aria-hidden="true" class="icon icon-circle-left"></span><span class="sr-only">Prev</span></a><a href="	#carrusel-ppal" role="button" data-slide="next" class="right carousel-control"><span aria-hidden="true" class="icon icon-circle-right"></span><span class="sr-only">Next</span></a>
	  </div>
	</section>
	{#/if#}
{#/foreach#}
<!--Carga titulo-->
 <!--/-Slider PPAl-->
  <section class="container-fluid">
    <!--más información-->
    <div class="go-down">
      <p class="azul-oscuro-text">Más información</p><a href="#" class="icon icon-circle-left down purpura-text"></a>
    </div>
    <!--/-más información-->
    <article class="row contenido">
		<h1>{#$titulo#}</h1>
		{#$contenido#}
    </article>
  </section>
<!--Fin contenido-->
{#include  file="base/footer.html"#}