{#include  file="base/header.html"#}
<!--Slider PPAl-->

<section class="container-fluid u-no-border slider-ppal slider-perfil">
  <div id="carrusel-ppal" data-ride="carousel" class="carousel slide"></div>
</section>
<!--/-Slider PPAl-->
<section class="container-fluid bg-registro">
  <article class="row">
    {#foreach from=$datosUsu item=usuario#}

    <form id="perfil" method="post">
      <h1 class="col-lg-offset-2 col-md-offset-2 col-sm-offset-2">Editar Cuenta</h1>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 col-lg-offset-2 col-md-offset-2 col-sm-offset-2"><img src="{#$usuario['imgPerfil']#}" class="img-responsive"/>
        <!-- <div class="subir-img">
          <label for="perfil">Selecciona tu archivo</label>
          <input type="file" name="perfil" id="perfil"/>
        </div> -->
        <h3>Foto de Perfil</h3>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <h3>Información Básica</h3>
        <!--Nombres-->
        <div class="form-group input-activo">
          <label for="nombres">Nombres:</label>
          <input type="text" id="nombres" name="nombres" value="{#$usuario['nombre']#}" class="form-control"/>
        </div>
        <!--/-Nombres-->
        <!--Apellidos-->
        <div class="form-group input-activo">
          <label for="apellidos">Apellidos:</label>
          <input type="text" id="apellidos" name="apellidos" value="{#$usuario['apellido']#}" class="form-control"/>
        </div>
        <!--/-Apellidos-->
        <!--celular-->
        <div class="form-group input-activo">
          <label for="celular">Celular:</label>
          <input type="text" id="celular" name="celular" value="{#$usuario['telefono']#}" class="form-control"/>
        </div>
        <!--/-celular-->
        <!--direccion-->
        <div class="form-group input-activo">
          <label for="direccion">Dirección:</label>
          <input type="text" id="direccion" name="direccion" value="{#$usuario['direccion']#}" class="form-control"/>
        </div>
        <!--/-direccion-->
        <!--email-->
        <div class="form-group input-activo">
          <label for="email">Email:</label>
          <input type="text" id="email" name="email" value="{#$usuario['email']#}" class="form-control"/>
        </div>
        <!--/-email-->
        <!--documento-->
        <div class="form-group input-activo">
          <label for="documento">Número de documento:</label>
          <input type="text" id="documento" name="documento" value="{#$usuario['numeroDocumento']#}" class="form-control"/>
        </div>
        <!--/-documento-->
        <!--nacimiento-->
        <div class="form-group input-activo"> 
          <label for="nacimiento">Fecha de nacimiento:</label>
          <input type="text" id="nacimiento" name="nacimiento" onfocus="(this.type='date')" onblur="(this.type='text')" value="{#$usuario['fechaNacimiento']#}" class="form-control"/>
        </div>
        <!--/-nacimiento-->
        <!--Departamento-->
          <div class="form-group">
            <label for="Departamento">Departamento:</label>

            <select name="departamento" class="form-control departamento" id="departamento">
              <option value=""></option>
               {#foreach from=$deptos item=departamento#}
                <option value="{#$departamento['id']#}">{#$departamento['nombre']|utf8_decode#}</option>
                {#/foreach#}
            </select>
          </div>
        <!--Ciudad-->
        <div class="form-group input-activo">
          <label for="Ciudad">Ciudad:</label>
           <select name="ciudad" class="form-control ciudad" id="ciudad" disabled>
              <option value=""></option>
            </select>
        </div>
        <!--/-Ciudad-->
        <button type="button" id="updatePer" class="btn btn-submit azul-oscuro">Actualizar perfil</button>
        <!-- <h3>Cambiar Clave</h3> -->
        <!--cambio de clave-->
        <!-- <div class="form-group">
          <label for="password">Nueva clave:</label>
          <input type="text" id="password" name="password" class="form-control"/>
        </div> -->
        <!--/-cambio de clave-->
        <!-- <button type="button" class="btn btn-submit azul-oscuro">Cambiar clave</button> -->
      </div>
    </form>
    {#/foreach#}
  </article>
</section>

{#include  file="base/footer.html"#}