{#include  file="taberna/headerCont.html"#}
      <form action="/youth/logUser/perfil/" method="post">
        <input type="text" name="perfil" /> <br />
        <select multiple value="" id="permisos[]" name="permisos[]">
        	<option value="">-Ninguna-</option>
       		{#foreach key=key from=$permisos item=value#}
				<option value={#$value["id"]#}>
					{#$value["permiso"]#}
				</option>
			{#/foreach#}
		</select>
        <input type="submit" value='Entrar'>
      </form>
{#include  file="taberna/footer.html"#}