{#include  file="taberna/headerCont.html"#}
{#if isset($edita)#}
  <div>Entro por editar</div>
  <form action="/youth/logUser/user/edit2/" method="post">
    
    <input type="hidden" name="idP" value="{#$info[0]['id']#}"/> <br />
    
    <label for="username">Usuario</label>
    <input type="text" name="perfil" value="{#$info[0]['username']#}" id="username"/> <br />
    
    <label for="nombre">Nombre</label>
    <input type="text" name="nombre" value="{#$info[0]['nombre']#}" id="nombre"/> <br />
    
    <label for="apellido">Apellido</label>
    <input type="text" name="apellido" value="{#$info[0]['apellido']#}" id="apellido"/> <br />
    
    <label for="email">Email</label>
    <input type="text" name="email" value="{#$info[0]['email']#}" id="email"/> <br />
    
    <label for="permiso">Permisos</label>
    <select value="" id="permisos" name="permisos">
      <option value="">-Ninguna-</option>
        {#foreach key=key from=$permision item=value#}
      <option value={#$value["id"]#}>
        {#$value["descripcion"]#}
      </option>
        {#/foreach#}
    </select>
    <input type="submit" value='Guardar'>
  </form>
{#else#}
<br>
    <form action="/youth/logUser/user/add/" method="post">
      
      <label for="username">Usuario</label>
      <input type="text" name="perfil" id="username"/> <br />
      
      <label for="nombre">Nombre</label>
      <input type="text" name="nombre" id="nombre"/> <br />
      
      <label for="apellido">Apellido</label>
      <input type="text" name="apellido"  id="apellido"/> <br />
      
      <label for="email">Correo electronico</label>
      <input type="text" name="email"  id="email"/> <br />
      
      <label for="permiso">Permisos</label>
      <select value="" id="permisos" name="permisos" id="permisos">
      	<option value="">-Ninguna-</option>
     		 {#foreach key=key from=$confi item=value#}
  		  <option value={#$value["id"]#}>
  			 {#$value["descripcion"]#}
  		  </option>
  	     {#/foreach#}
      </select>
      <input type="submit" value='Guardar'>
    </form>
  {#/if#}
{#include  file="taberna/footer.html"#}