{#include  file="taberna/header.html"#}
<div class="wrapper row-offcanvas row-offcanvas-left">
	<div class="panel-body table-responsive CreaContenido">
<div><a href="/youth/logUser/user/add/">Añadir Usuario</a></div><br>
<table class="table table-hover usertable">
	<tr>
		<th>Usuario</td>
		<th>Nombre</td>
		<th>Apellido</td>
		<th>Email</td>
		<th>Rol</td>
		<th>Accion</td>
	</tr>
	{#foreach key=key from=$confi item=value#}
	<tr>
		<td>{#$key#}</td>
		<td>{#$value['nombre']#}</td>
		<td>{#$value['apellido']#}</td>
		<td>{#$value['email']#}</td>
		<td>{#$value[0]['tipo']#}</td>
		<td>
			<span class="glyphicon glyphicon-pencil editarUserHaspe" data-seccion="{#$key#}"></span>
			<span>Eliminar</span>
			<form name="user-{#$key#}" id="user-{#$key#}" method="POST"><input type="hidden" name="user" id="user" value="{#$key#}"/></form>
		</td>
	</tr>
	{#/foreach#}
</table>
</div>
</div>
{#include  file="taberna/footer.html"#}