{#include  file="taberna/headerCont.html"#}
{#if $edita == '1'#}
  <div>Entro por editar</div>
  <form action="/youth/logUser/user/edit2/" method="post">
    <input type="hidden" name="idP" value="{#$info[0]['id']#}" /> <br />
    <input type="text" name="perfil" value="{#$info[0]['username']#}" /> <br />
    <select value="" id="permisos" name="permisos">
      <option value="">-Ninguna-</option>
        {#foreach key=key from=$permision item=value#}
      <option value={#$value["id"]#}>
        {#$value["descripcion"]#}
      </option>
        {#/foreach#}
    </select>
    <input type="submit" value='Guardar'>
  </form>
{#else#}
  {#if $mensaje !== NULL#}
    <div>{#$mensaje#}</div>
  {#/if#}
    <form action="/youth/logUser/user/add/" method="post">
      <input type="text" name="perfil" /> <br />
      <select value="" id="permisos" name="permisos">
      	<option value="">-Ninguna-</option>
     		 {#foreach key=key from=$confi item=value#}
  		  <option value={#$value["id"]#}>
  			 {#$value["descripcion"]#}
  		  </option>
  	     {#/foreach#}
      </select>
      <input type="submit" value='Guardar'>
    </form>
  {#/if#}
{#include  file="taberna/footer.html"#}