{#include  file="taberna/headerCont.html"#}
<!--Editor js-->

        <!--FIn editor-->
    {#foreach from=$contenido item=editar#}
   


    <div class="wrapper row-offcanvas row-offcanvas-left">
                            <div class="panel-body table-responsive CreaContenido">
                                <p>Para crear contenido se debe dar click sobre lo que se desea agregar</p>
                                <div class="box-tools m-b-15">
                                    <div class="input-group">
                                        <label for="idContenido">Id del contenido</label>
                                        <input type="text" name="idContenido" id="idContenido" class="form-control" value="{#$editar.id#}" readonly="readonly" disabled="disabled"/>
                                        <input type="hidden" name="idCruce" id="idCruce" class="form-control" value="{#$idCruce#}" readonly="readonly" disabled="disabled"/>
                                    
                                    </div>
                                </div>
                                <form name="agregaContenido" id="agregaContenido" method="POST">
                                <div class="row">
                                    
                                    <h2>Creación de Contenido</h2>
                                    <label for="titulo">Titulo</label>
                                    <div class="col-md-12 contenidoEditable titulo-contenido" id="titulo-contenido" contenteditable="true">
                                        <h1>{#$editar.titulo#}</h1>
                                    </div>
                                    <!--Contenido editable-->
                                    <div class="clear"></div>
                                     <div class="col-md-6">
                                        <span>Visible</span>
                                        visible
                                        {#if $editar.visible="S"#}
                                            <label for="visble">Si</label>
                                            <input type="radio" name="visible" id="visible" value="S" checked class='limpiar' >
                                            <label for="visble">No</label>
                                            <input type="radio" name="visible" id="visible" value="N" class='limpiar' > 
                                        {#else#}
                                            <label for="visble">Si</label>
                                            <input type="radio" name="visible" id="visible" value="S" class='limpiar' >
                                            <label for="visble">No</label>
                                            <input type="radio" name="visible" id="visible" value="N" checked class='limpiar' >
                                        {#/if#}
                                        
                                     </div>
                                      <div class="col-md-6">
                                    <label for="posicion"><span>Posición</span>
                                        <input type="number" class="form-control" id="posicion" name="posicion" size="2" maxlength="2" min="1" max="10" value="{#$posicion#}" /></label>
                                    </div>
                                    <div class="clear"></div>
                                    <div id="myNicPanel" style="width: 734px; display:none;"></div>
                                    <div class="col-md-8 contenidoEditable contenido-texto" id="contenido-editado" contenteditable="true">
                                        <p>{#$editar.contenido#}</p>
                                     </div>
                                     
                                     <div class="col-md-6">
                                        <label for="fechaInicio">Fecha Inicio</label>
                                       <input type="date" name="fechaIni" id="fechaIni" class="fechaBt"  onfocus="(this.type='date')" onblur="(this.type='text')" data-date-format="YYYY-MM-DD HH:mm:ss" value="{#!$editar.fechaInicio#}" class='limpiar'/>
                                     </div>
                                     <div class="col-md-6">
                                     <label for="fechaFin">Fecha Fin</label>
                                        <input type="date" name="fechaFin" id="fechaFin" class="fechaBt" onfocus="(this.type='date')" onblur="(this.type='text')" data-date-format="YYYY-MM-DD HH:mm:ss" value="{#!$editar.fechaFin#}"  class='limpiar'/>
                                        <input type="hidden" name="idSeccion" id="idSeccion" value="{#$seccion#}" class='limpiar'/>
                                     </div>
                                    <!--Contenido editable-->
                                </div>
                                 <button class="azul-oscuro  btn btn-submit actContenido">Guardar</button>
                             </form>
                            </div><!-- /.box-body -->
        </div>
    
    {#/foreach#}
    <div class="row">
   <select class="form-control" id="directorios">
       <option value="">Todas las imagenes</option>
       {#for $i=0 to $imagenes|count max=$imagenes|count#}
       <option value="{#$imagenes[$i]#}">{#$imagenes[$i]#}</option>
       {#/for#}

   </select>
   <div class="img col-lg-12 cargaImages"></div>
</div>
     <script type="text/javascript" src="/js/taberna/contenido.js"></script>
{#include  file="taberna/footer.html"#}
