    <!-- <h3 class="box-title">Responsive Hover Table</h3> -->
<!-- </div> -->

    <table class="table table-hover">
        <tr>
            <th>ID</th>
            <th>NOMBRE</th>
            {#if $tienePadre!=''#}
            <th>PADRE</th>
            {#/if#}
            <th>PUBLICA</th>
            <th>MASCARA URL</th>
            <th>TITULO SEO</th>
            <th>DESCRIPCIÓN SEO</th>
            <th>FECHA INICIO</th>
            <th>FECHA FIN</th>
        </tr>
       {#foreach from=$seccion item=edita#}
            <td>
              <input class='' name="idSec" id="idSec" disabled="disabled" value="{#$edita->id#}" size='1'/>
            </td>
            <td>
              <input class='' name="nombSec" id="nombSec" value="{#$edita->nombre#}"/>
            </td>
            {#if $edita->idPadre!=''#}
            <td>
            <select name="padre" id="padre">
              {#foreach from=$padres item=padre#}
                {#if $edita->idPadre[0]->id==$padre['id']#}
                <option value="{#$padre['id']#}" selected>{#$padre["nombre"]#}</option>
                {#else#}
                <option value="{#$padre['id']#}">{#$padre["nombre"]#}</option>
                {#/if#}
              {#/foreach#}
            </select>
            
            </td>
            {#else#}
            <input type="hidden" name="padre" id="padre" disabled="disabled" value="0" size='1'/>
            {#/if#}
            <td>
              {#if $edita->produccionVisible=='S'#} 
                <label>Si</label>
                <input type="radio" name="visoble{#$edita->id#}" checked="checked" value="S" >
                <label>No</label>
                <input type="radio" name="visoble{#$edita->id#}" value="N" >
              {#else#}
                <label>Si</label>
                <input type="radio" name="visoble{#$edita->id#}"  value="S" >
                <label>No</label>
                <input type="radio" name="visoble{#$edita->id#}" checked="checked" value="N" >
              {#/if#}
            </td>
            <td>
              <input class='' name="mascUrl" id="mascUrl" value="{#$edita->mascaraUrl#}"/>
            </td>
            <td>
              <input type="text" class="" name="titleSeo" id="titleSeo" value="{#$edita->tituloSeo#}"/>
            </td>
            <td>
              
              <textarea name="descSeo" id="descSeo" value="">{#$edita->descripcionSeo#}</textarea>
            </td>
            <td>
              <input type="date" name="fechaIni" id="fechaIni" value="{#$edita->fechaInicio#}"  onfocus="(this.type='date')" onblur="(this.type='text')" placeholder="YYYY-MM-DD"/>
            </td>
            <td>
              <input type="date" name="fechaFin" id="fechaFin" value="{#$edita->fechaFin#}"  onfocus="(this.type='date')" onblur="(this.type='text')" placeholder="YYYY-MM-DD"/>
            </td>
           
            <td><span class="glyphicon glyphicon-ok" id="editaS" data-seccion="{#$edita->id#}" style="cursor:pointer;"></span></td>
        </tr>
        {#/foreach#}
          </table>
<!-- /.box-body -->
    
