{#include  file="taberna/header.html"#}

        <section class="container-fluid">
           
            <!-- Right side column. Contains the navbar and content of the page -->
            <article class="row">


                <!-- Main content -->
                <div class="col-xs-12">
                            <div class="panel">
                                <header class="panel-heading">
                                    Secciones

                                </header>
                                <!--Lista Secciones-->
                                <div class="panel-body table-responsive listaSecciones">
                                    <div class="box-tools m-b-15">
                                        <div class="input-group">
                                            <input type="text" name="table_search" class="form-control input-sm pull-right" style="width: 150px;" placeholder="Search"/>
                                            <div class="input-group-btn">
                                                <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div><a href="/youth/agrSecciones/">Crear sección</a></div> 
                                    <table class="table table-hover">
                                        <tr>
                                            <th>ID</th>
                                            <th>NOMBRE</th>
                                            <th>PADRE</th>
                                            <th>PUBLICA</th>
                                            <th>FECHA</th>
                                            <th>FECHA ACTUALIZACION</th>
                                            <th>EDITAR</th>
                                            <th>CREAR CONTENIDO</th>
                                            <th>CREAR Multimedia</th>
                                            <th>EDITAR CONTENIDO</th>
                                        </tr>
                                        {#foreach from=$seccions item=seccion#}
                                        <tr>
                                            
                                                <td>{#$seccion.id#}</td>
                                                <td>{#$seccion.nombre#}</td>
                                                <td>{#$seccion.nombrePadre#}</td>
                                                <td>{#$seccion.produccionVisible#}</td>
                                                <td>{#$seccion.fecha#}</td>
                                                <td>{#$seccion.fechaActualizacion#}</td>
                                                <td><span class="glyphicon glyphicon-pencil" data-seccion="{#$seccion.id#}"></span></td>
                                                <td><span class="glyphicon glyphicon-blackboard" data-seccion="{#$seccion.id#}"></span></td>
                                                <td><span class="glyphicon glyphicon-film" data-seccion="{#$seccion.id#}"></span></td>
                                                <td><span class="glyphicon glyphicon-list-alt" data-seccion="{#$seccion.id#}"></span></td>
                                                <form name="listaSeccion-{#$seccion.id#}" id="listaSeccion-{#$seccion.id#}" method="POST"><input type="hidden" name="idSeccion" id="idSeccion" value="{#$seccion.id#}"/></form>
                                        </tr>
                                        {#/foreach#}
                                    </table>
                                </div><!-- /.box-body -->
                                <!--Fin de lista secciones-->
                                <!--Edicion de secciones-->
                                <div class="panel-body table-responsive edicion">
                                </div>
                                <!--Fin Edicion de secciones-->

                                <div class="panel-body table-responsive CreaContenido">
                                </div>
                            </div><!-- /.box -->
                        </div>

                        
                </article>
                </section><!-- /.content -->
                 {#include  file="taberna/footer.html"#}
